* {
    margin: 0px;
    padding: 0px;
}

#hero {
    background-image: url(../img/header.jpg);
    background-size: cover;
}

i {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #2e2e2e;
}

footer {
    background-image: url(../img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -15px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}